<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookmanagement.mapper.ChooseTextbookMapper">
  <resultMap id="BaseResultMap" type="com.example.bookmanagement.domain.ChooseTextbookKey">
    <id column="open_id" jdbcType="CHAR" property="openId" />
    <id column="ISBN" jdbcType="CHAR" property="isbn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    open_id, ISBN
  </sql>
  <select id="selectByExample" parameterType="com.example.bookmanagement.domain.ChooseTextbookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from choose_textbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.bookmanagement.domain.ChooseTextbookKey">
    delete from choose_textbook
    where open_id = #{openId,jdbcType=CHAR}
      and ISBN = #{isbn,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.bookmanagement.domain.ChooseTextbookExample">
    delete from choose_textbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.bookmanagement.domain.ChooseTextbookKey">
    insert into choose_textbook (open_id, ISBN)
    values (#{openId,jdbcType=CHAR}, #{isbn,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.bookmanagement.domain.ChooseTextbookKey">
    insert into choose_textbook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        open_id,
      </if>
      <if test="isbn != null">
        ISBN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        #{openId,jdbcType=CHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.bookmanagement.domain.ChooseTextbookExample" resultType="java.lang.Long">
    select count(*) from choose_textbook
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update choose_textbook
    <set>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=CHAR},
      </if>
      <if test="record.isbn != null">
        ISBN = #{record.isbn,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update choose_textbook
    set open_id = #{record.openId,jdbcType=CHAR},
      ISBN = #{record.isbn,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>